.blogCategoryMain{
    .blogCatMainHead{
        font-size: 1.2rem;
        color: #0A97D9;
        font-weight: 600;
    }
    .categoryListingHome{
        padding-left: 0!important;
        
        a{
            color: black!important;
            text-decoration: none!important;
        }
        
    }
        li{
            list-style: none;
            padding: 1rem 1rem 1rem 0rem;
          
    }
    li.activeCategoryBlogHome{
        color: #0A97D9;
    }
}
