.inputElement {
    label {
        margin-bottom: 8px;
        color: #3d464b;
        font-size: 1.1rem;
        font-weight: 401;
    }
    input {
        border-color: #0a97d9;
        margin-bottom: 40px;
        border-radius: 0;
    }
}

