$primaryBlue: #0a97d9;
.travelDateComponentWrap {
    .datetype {
        display: flex;
        justify-content: space-around;
    }
    /* border: 1px solid black; */
    .iconDate {
        border: 0.001rem solid $primaryBlue;
        padding: 5px 14px 5px 14px;
        cursor: pointer;
    }
    svg,
    p {
        pointer-events: none;
    }
    .active {
        border-width: 0.15rem;
    }
    .iconDate:hover {
        animation: zoomeffect 0.3s linear forwards;
    }
    @keyframes zoomeffect {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.1);
        }
    }
}
