.informationMainWrap{
    margin-left: 16px;
    .includeExcludeDiv{
        margin-top: 15px;
        li{
            list-style-type: disc;
        }
    }
    .faqSection{
        margin-top: 16px;
    }
}