.guideDetailsWrap{
    .negativeMarginCard{
        margin-top: -6rem;
    }
    margin-bottom: 3rem;
    .wordOfGuide{
        margin-top: 2rem;
    }
    .commentSection{
        margin-top: 2rem;
        .rateDivComment{
            font-size: 2.2rem;
            color: #fd578d;
        }
        .commentInput{
            margin-top: 2rem;
        }
    }
}
